# A

In [15]:
for row in range(7):
    for col in range(5):
        if ((col==0 or col==4) and row!=0) or ((col!=0 and col!=4) and (row==0 or row==3)):
            print ("* ",end="")
        else:
            print("  ",end="")
    print()

  * * *
*       *
*       *
* * * * *
*       *
*       *
*       *

# B

In [16]:
for row in range(7):
    for col in range(5):
        if col==0 or ((row!=0 and row!=6) and col==4) or ((col!=0 and col!=4) and (row==0 or row==3 or row==6)):
            print ("* ",end="")
        else:
            print("  ",end="")
    print()

* * * *
*       *
*       *
* * * * *
*       *
*       *
* * * *

# C

In [20]:
for row in range(7):
    for col in range(5):
        if (col==0 and (row!=0 and row!=6)) or ((row==0 or row==6) and col!=0):
            print ("* ",end="")
        else:
            print("  ",end="")
    print()

  * * * *
*
*
*
*
*
  * * * *

# D

In [21]:
for row in range(7):
    for col in range(5):
        if col==0 or ((row==0 or row==6) and col!=4) or (col==4 and (row!=0 and row!=6)):
            print ("* ",end="")
        else:
            print("  ",end="")
    print()

* * * *
*       *
*       *
*       *
*       *
*       *
* * * *

# E

In [22]:
for row in range(7):
    for col in range(5):
        if col==0 or row==0 or row==6 or row==3:
            print ("* ",end="")
        else:
            print("  ",end="")
    print()

* * * * *
*
*
* * * * *
*
*
* * * * *

# F

In [23]:
for row in range(7):
    for col in range(5):
        if col==0 or row==0 or row==3:
            print ("* ",end="")
        else:
            print("  ",end="")
    print()

* * * * *
*
*
* * * * *
*
*
*

# G

In [27]:
for row in range(7):
    for col in range(5):
        if (col==0 and (row!=0 and row!=6)) or ((row==0 or row==6) and (col!=0 and col!=4)) or ((row>3 and row<=6) and col==3) or ((col>1 and col<=4) and row==3):
            print ("* ",end="")
        else:
            print("  ",end="")
    print()

  * * *
*
*
*   * * *
*     *
*     *
  * * *

# H

In [28]:
for row in range(7):
    for col in range(5):
        if col==0 or col==4 or row==3:
            print ("* ",end="")
        else:
            print("  ",end="")
    print()

*       *
*       *
*       *
* * * * *
*       *
*       *
*       *

# I

In [29]:
for row in range(7):
    for col in range(5):
        if col==2 or row==0 or row==6:
            print ("* ",end="")
        else:
            print("  ",end="")
    print()

* * * * *
    *
    *
    *
    *
    *
* * * * *

# J

In [31]:
for row in range(7):
    for col in range(5):
        if (col==2 and row!=6) or row==0 or (col==0 and (row>2 and row<6)) or (col==1 and row==6) :
            print ("* ",end="")
        else:
            print("  ",end="")
    print()

* * * * *
    *
    *
*   *
*   *
*   *
  *

# K

In [33]:
for row in range(7):
    for col in range(5):
        if col==0 or (row+col==4) or (row-col==2):
            print ("* ",end="")
        else:
            print("  ",end="")
    print()

*       *
*     *
*   *
* *
*   *
*     *
*       *

# L

In [34]:
for row in range(7):
    for col in range(5):
        if col==0 or row==6 :
            print ("* ",end="")
        else:
            print("  ",end="")
    print()

*
*
*
*
*
*
* * * * *

# M

In [48]:
for row in range(7):
    for col in range(7):
        if col==0 or col==6 or (row==col and row<4) or (col+row==6 and row<4) :
            print ("* ",end="")
        else:
            print("  ",end="")
    print()

*           *
* *       * *
*   *   *   *
*     *     *
*           *
*           *
*           *

# N

In [102]:
for row in range(7):
    for col in range(7):
        if col==0 or col==6 or row==col :
            print ("* ",end="")
        else:
            print("  ",end="")
    print()

*           *
* *         *
*   *       *
*     *     *
*       *   *
*         * *
*           *

# O

In [58]:
for row in range(7):
    for col in range(5):
        if (col==0 and (row!=0 and row!=6)) or (col==4 and (row!=0 and row!=6)) or (row==0 and (col>0 and col<4)) or (row==6 and (col>0 and col<4)) :
            print ("* ",end="")
        else:
            print("  ",end="")
    print()

  * * *
*       *
*       *
*       *
*       *
*       *
  * * *

# P

In [60]:
for row in range(7):
    for col in range(5):
        if col==0 or ((row==0 or row==3)and (col<4)) or (col==4 and (row>0 and row<3)):
            print ("* ",end="")
        else:
            print("  ",end="")
    print()

* * * *
*       *
*       *
* * * *
*
*
*

# Q

In [84]:
for row in range(7):
    for col in range(5):
        if (col==0 and (row!=0 and row!=5 and row!=6 )) or (col==4 and (row!=0 and row!=6 and row!=5)) or (row==0 and (col>0 and col<4)) or (row==5 and (col>0 and col<4)) or (row>3 and row-col==2):
            print ("* ",end="")
        else:
            print("  ",end="")
    print()

  * * *
*       *
*       *
*       *
*   *   *
  * * *
        *

# R

In [85]:
for row in range(7):
    for col in range(5):
        if col==0 or ((row==0 or row==3)and (col<4)) or (col==4 and (row>0 and row<3)) or (row-col==2 and row>3):
            print ("* ",end="")
        else:
            print("  ",end="")
    print()

* * * *
*       *
*       *
* * * *
*   *
*     *
*       *

# S

In [101]:
for row in range(7):
    for col in range(5):
        if ((col!=0 and col!=4) and (row==0 or row==3 or row==6)) or (col==0 and (row>0 and row<3)) or (col==4 and (row>3 and row<6)):
            print ("* ",end="")
        else:
            print("  ",end="")
    print()

  * * *
*
*
  * * *
        *
        *
  * * *

# T

In [86]:
for row in range(7):
    for col in range(5):
        if col==2 or row==0 :
            print ("* ",end="")
        else:
            print("  ",end="")
    print()

* * * * *
    *
    *
    *
    *
    *
    *

# U

In [66]:
for row in range(7):
    for col in range(5):
        if (col==0 and row!=6) or (col==4 and row!=6) or (row==6 and (col>0 and col<4)):
            print ("* ",end="")
        else:
            print("  ",end="")
    print()

*       *
*       *
*       *
*       *
*       *
*       *
  * * *

# V

In [100]:
for row in range(4):
    for col in range(7):
        if (row==col and row<4) or (col+row==6 and row<4):
            print ("*",end="")
        else:
            print(" ",end="")
    print()

*     *
 *   *
  * *
   *

# W

In [107]:
for row in range(6):
    for col in range(9):
        if col==0 or col==6 or (row+col==5 and col<4) or (col-row==1 and col>3):
            print ("* ",end="")
        else:
            print("  ",end="")
    print()

*           *
*           *
*     *     *
*   *   *   *
* *       * *
*           *

# X

In [89]:
for row in range(7):
    for col in range(7):
        if row==col or col+row==6:
            print ("* ",end="")
        else:
            print("  ",end="")
    print()

*           *
  *       *
    *   *
      *
    *   *
  *       *
*           *

# Y

In [91]:
for row in range(7):
    for col in range(7):
        if (row==col and row<4) or (col+row==6 and row<4) or (col==3 and row>3):
            print ("* ",end="")
        else:
            print("  ",end="")
    print()

*           *
  *       *
    *   *
      *
      *
      *
      *

# Z

In [92]:
for row in range(7):
    for col in range(7):
        if row==0 or row==6 or col+row==6:
            print ("* ",end="")
        else:
            print("  ",end="")
    print()

* * * * * * *
          *
        *
      *
    *
  *
* * * * * * *